<% include partials/header.ejs %>
<div class = "container-full" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8);">
<h1>CARS</h1>
<p>Welcome to CARS</p>
<p><%= message%></p>

<% include partials/footer.ejs %>
</div>